<body ng-controller="productCtrl"  ng-init="checkUserCookie();getProductList();getCategories()">
    <div class="container mt-2">
        @Html.Partial("~/Views/Shared/_LayoutHeader.cshtml")
        <!-- Header ends -->
        <!-- Carousel -->
        <div class="row bg-white border">
            <div class="col-12 col-md-12 py-3">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active position-relative">
                            <div>
                                <h1 class="wheels text-white float-end">Wheels</h1>
                                <h3 class="carouselmidtext float-end">
                                    Luxury,Racing,Forged
                                </h3>
                                <h4 class="text-white float-end fw-bold">29.99$</h4>
                            </div>
                            <img class="d-block img-fluid w-100" src="~/images/carousel image.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item position-relative">
                            <div>
                                <p class="Seatcover text-white float-end">Seat Covers</p>
                                <h3 class="carouselmidtext float-end">
                                    Leather,Velour,Neoprene
                                </h3>
                                <h4 class="text-white float-end fw-bold">50% Off</h4>
                            </div>
                            <img class="d-block img-fluid w-100" src="~/images/carousel image2.jpg" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- Product Section -->
            <!-- Filter -->
            <div class="col-12 col-md-4 col-lg-3">
                <div class="border border-dark">
                    <div class="bg-dark p-2 m-1 border border-dark">
                        <div class="col-12 text-white fw-bold">Categories</div>
                    </div>

                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item border" ng-repeat="product in datactgy | limitTo:1">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne" ng-bind="product.categoriesName">
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <p ng-bind="product.ClothingItem"></p>
                                    <p ng-bind="product.VehicleBracelets"></p>
                                    <p ng-bind="product.VehicleRings"></p>
                                    <p ng-bind="product.Shoes"></p>
                                    <p ng-bind="product.Lingeries"></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border" ng-repeat="product in datactgy | limitTo:1:1">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo" ng-bind="product.categoriesName">
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <p ng-bind="product.ClothingItem"></p>
                                    <p ng-bind="product.VehicleBracelets"></p>
                                    <p ng-bind="product.VehicleRings"></p>
                                    <p ng-bind="product.Shoes"></p>
                                    <p ng-bind="product.Lingeries"></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border" ng-repeat="product in datactgy | limitTo:2:2">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree" ng-bind="product.categoriesName">
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    <p ng-bind="product.ClothingItem"></p>
                                    <p ng-bind="product.VehicleBracelets"></p>
                                    <p ng-bind="product.VehicleRings"></p>
                                    <p ng-bind="product.Shoes"></p>
                                    <p ng-bind="product.Lingeries"></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFour">
                                    Chevrolet
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingFour">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFive">
                                    Audi
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingFive">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseSix">
                                    BMW
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingSix">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseSeven">
                                    Lexus
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingSeven">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion ends -->
                <!-- Todays Offer -->
                <div class="row">
                    <div class="col-12 col-md-12 py-3">
                        <div class="py-1 px-1 border border-dark">
                            <span class="bgcolor p-2 d-block">
                            <a class="text-white fw-bold" href="@Url.Action("ProductList","Product")">Today's Deals</a>
                            </span>
                        </div>
                    </div>                      
                        <!-- Bestseller -->
                        <div class="col-12">
                            <!-- Bestseller tag written -->
                            <div class="col-12 col-md-12 mb-3 border border-dark">
                                <div class="col-12 p-1">
                                    <span class=" bg-dark text-white fw-bold text-xl-start p-2 d-flex">Best Seller</span>
                                </div>
                                <div class="border-bottom px-3">
                                    <!-- Product Title1 -->
                                    <div class="row Categoryproductborder" ng-repeat="producth in dataList | limitTo:3">
                                        <div class="col-8 col-md-8 my-auto align-self-center overflowitem">
                                            <h6 ng-bind="producth.ProductName"></h6>
                                            <strong class="redtext fw-bold" ng-bind="'$'+ producth.Price"></strong>
                                        </div>
                                        <!-- Product Image1 -->
                                        <div class="col-4 col-md-4">
                                            <img class="img-fluid align-self-center my-auto" ng-src="{{producth.Image}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Products List -->
            <div class="col-12 col-md-8 col-lg-9">
                <!-- Featured Products -->
                <div class="row">
                    <!-- Featured Products Text -->
                    <div class="col-12 col-md-12">
                        <p class="border border-dark bg-dark text-light text-xl-start p-2">Featured Products English 1</p>
                    </div>
                    <!-- Featured Products Images -->
                    <div class="col-6 col-md-6  col-lg-3 my-2" ng-repeat="product in dataList | limitTo:4:8">
                        <div class="border border-dark">
                            <img class="img-fluid" ng-src="{{product.Image}}"
                                 alt="image cap">
                            <div class="text-center overflowitem mb-3">
                                <h6 class="fw-bold" ng-bind="product.ProductName"></h6>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o text-warning" aria-hidden="true"></i>
                                <p class="redtext fw-bold" ng-bind="'$'+ product.Price+'.00'"></p>
                                <button href="#" class="border btn bgcolor text-white">+ ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Products -->
                <div class="row">
                    <!-- New Products Text -->
                    <div class="col-12 col-md-12 col-lg-12">
                        <p class="border border-dark bg-dark text-light text-xl-start p-2 mt-3">New Products</p>
                    </div>
                    <!-- New Products images -->
                    <div class="col-6 col-md-4 col-lg-3 my-3 img" ng-repeat="producth in dataList | limitTo:12">
                        <div class="border border-dark">                          
                            <img class="img-fluid old_image" ng-src="{{producth.Image}}"
                                 alt="image cap">
                            <img class="img-fluid change_image" ng-src="{{producth.HoverImage}}" alt="image cap" />
                            <div class="text-center overflowitem mb-3">
                                <h6 class="fw-bold" ng-bind="producth.ProductName"></h6>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <i class="fa fa-star text-warning" aria-hidden="true"></i>
                                <p class="redtext fw-bold" ng-bind="'$'+ producth.Price+'.00'"></p>
                                <button href="#" class="border newproductbtn btn bgcolor text-white">+ ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Starts Here -->
    <!-- Footer Ends Here -->
</body>













