<footer class="text-center text-lg-start mt-3">
    <!-- Grid container -->
    <div class="container bg-white p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">My Account</h5>
                <hr class="border border-dark">
                <ul class="list-unstyled mb-0">
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">My Account</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Order History</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Returns</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Advanced Search</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Customer Service</a>
                        </span>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Customer Service</h5>
                <hr class="border border-dark">
                <ul class="list-unstyled">
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Site Map</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Privacy Policy</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Your Account</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Advanced Search</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Contact Us</a>
                        </span>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Our Service</h5>
                <hr class="border border-dark">
                <ul class="list-unstyled mb-0">
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="~/Views/Home/Productlist.cshtml" class="text-dark text-center">My Account</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Order History </a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Returns</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">Specials</a>
                        </span>
                    </li>
                    <li>
                        <span>
                            <img src="~/images/icon-footer.png" />
                            <a href="#!" class="text-dark">About us</a>
                        </span>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Shopping Guide</h5>
                <hr class="border border-dark">
                <div class="list-unstyled">
                    <img class="image-zoom" src="~/images/debitcard-image1.png">
                    <img class="image-zoom" src="~/images/debitcard-image2.png">
                    <img class="image-zoom" src="~/images/debitcard-image3.png">
                    <img class="image-zoom" src="~/images/debitcard-image4.png">
                    <img class="image-zoom" src="~/images/debitcard-image5.png">
                </div>
                <div class="row">
                    <h5 class="text-uppercase mt-1">Newsletter</h5>
                    <hr class="border border-dark mt-2">
                    <div class="form-outline form-white mt-4 ">
                        <input type="email" id="form5Example21" class="form-control py-2" placeholder="Enter your Email" />
                        <button class="button bgcolor text-white mt-2" type="submit">Subscribe</button>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="container copyrightmgn bg-dark">
        <hr class="border border-dark">
        <div class="text-center">
            <div class="row">
                <!-- company related Features -->
                <div class="col-12 col-xl-7">
                    <div class="bottom-link">
                        <div class=" list-group list-group-horizontal-md justify-content-center">
                            <a class="nav-item text-white list-group-horizontal mx-2" href="#">Site Map</a>
                            <p class="text-white">| </p>

                            <a class="text-white list-group-horizontal mx-2" href="#">Customer Service</a>
                            <p class="text-white">| </p>

                            <a class="text-white list-group-horizontal mx-2" href="#">Advance Search</a>
                            <p class="text-white">| </p>

                            <a class="text-white list-group-horizontal mx-2" href="#">Orders and Returns</a>
                            <p class="text-white">| </p>
                            <a class="text-white list-group-horizontal mx-2" href="#">Contact us</a>
                        </div>
                    </div>
                </div>
                <!-- copywrite -->
                <div class="col-12 col-xl-5 justify-content-center">
                    <p class="text-white">Copyright &copy; 2016 Magento. All rights reserved.</p>
                </div>
                <div class="col-12 text-end">
                    <a class="float-end me-5" type="button" href="#">
                        <i class="fa fa-chevron-circle-up fa-3x"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- Copyright -->
</footer>
