<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarStore.DataLayer.Properties.Settings.carStoreDBConnectionString"
            connectionString="Data Source=192.168.1.5;Initial Catalog=carStoreDB;User ID=sa;Password=axtrum@123"
            providerName="System.Data.SqlClient" />
        <add name="CarStore.DataLayer.Properties.Settings.carStoreDBConnectionString1"
            connectionString="Data Source=192.168.1.5;Initial Catalog=carStoreDB;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CarStore.DataLayer.Properties.Settings.carStoreDbConnectionString2"
            connectionString="Data Source=PRINCE-PALI;Initial Catalog=carStoreDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>